<div class="container">


	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <%= @improvement.title %>
	</p>

	<p>
	  <strong>Author:</strong>
	  <%= @improvement.author %>
	</p>

	<p>
	  <strong>Principle:</strong>
	  <%= @improvement.principle %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @improvement.description %>
	</p>
   <% if can? :manage, :all %>
	
	<%= link_to 'Back', @improvements %>
	<% end %>

</div>
