<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
.rectangle {

  border: 1px Solid Black;
}
.rightpane {
  position: absolute;
  right: 60px;
  top:540px

  }
.links {
  padding-left: 450px;


}
</style>
<div class="container">
  <div class= "links">
    <u><%= link_to 'Projects', projects_url %> </u>
    &nbsp;|&nbsp;
  <u>  <%= link_to 'Principles', principles_url %> </u>
    &nbsp;|&nbsp;
  <u>  <%= link_to 'Books', books_url %> </u>


</div>
<br>
<br>

  <div>
<%= image_tag "storymap.jpg",  alt: "Map", height: 260, class: "rectangle"%>
<h3>
  <a href="https://storymaps.arcgis.com/stories/8293fff00ccf4e38873b4ae0b766145a" >Story Map: Michigan Avenue Corridor Improvements
</a> </h3>
</div>

<br>
<br>
<br>
<h1>All investments</h1>

<% if !@tiffs.empty? %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
      <th>$ Value</th>
      <% if can? :manage, :all %>
      <th>Delete</th>
      <th>Update</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="sortable">
  <% @tiffs.each_with_sortable_id do |tiff, sortable_id| %>
     <tr id="<%= sortable_id %>">
    <td>  <%= link_to like_tiff_path(tiff), method: :put do %>
        <div>
          <span><i class="fa fa-thumbs-up fa-1x"> </i> </span>

          <p><%= tiff.get_upvotes.size %> </p>
        </div>
     <% end %>
     </td>
    <td><%= tiff.title %></td>
    <td><%= tiff.author %></td>
    <td><%= tiff.body[0..20] %>...</td>
    <td><%= tiff.value %></td>


<td>
<% if can? :manage, :all %>
<%= link_to 'Delete', tiff, method: :delete, data: { confirm: 'Are you sure?' }%>
<% end %>
</td>

<td>
<% if can? :manage, :all %>
<%= link_to 'Update', edit_tiff_path(tiff)%>
<% end %>
</td>




  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p>No investment found.</p>
<% end %>

<br/>
<% if can? :manage, :all %>
<a href="/tiff/create">Create New</a>
<% end %>
<div class="rightpane">
  <h2><b> MACIA Development and TIFF: </b> </h2>
  <p>  In 2009 the Lansing City Council approved the establishment of the Michigan
  <br> Avenue Corridor Improvement Authority (MACIA) with the goals to correct and
  <br> prevent deterioration in the business districts, redevelop the city’ commercial
  <br> corridors and promote economic growth. </p>
  <p>  In development of this plan, the Authority identified several key principles
  <br> that were used in creation of the plan and are supported by the City’s Master
  <br> Plan to transform the visually unappealing character of the corridor, to
  <br> encourage pedestrians and market the quality of the adjacent neighborhoods
  <br> as attractive,livable and sustainable community gateways. </p>
  <h3><%= link_to 'For more information', details_url %>  </h3>
 </div>

 <br>
  <%= render "disqus" %>
 <br>


</div>
