<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Tiff investment Created or Modified</h1>

<table>
  <tbody>
    <tr>
      <th>Title:</th>
    <td><%= @tiff.title %></td>
    </tr>
    <tr>
      <th>Author:</th>
      <td><%= @tiff.author %></td>
    </tr>
    <tr>
      <th>Investment Body:</th>
      <td><%= @tiff.body %></td>
    </tr>
    <tr>
      <th>Value:</th>
      <td><%= @tiff.value %></td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/tiff">View All</a> -
<a href="/tiff/edit/"<%= @tiff.id %>>Modify</a>
